<% for commentaar in @album.commentaar.sort_by { |n| n.created_at}  %>
<table>

  <tr>
    <td><strong><%= h commentaar.klant.naam_omgekeerd %></strong></td>
    <td><%= h commentaar.created_at.to_s(:long) %></td>
  </tr>
    <tr>
    <td colspan="2"><strong>waardering: <%= h commentaar.rating %></strong><br />      
      <%= h commentaar.text %></td>
  </tr>

</table>
<% end %>