<!DOCTYPE html PUBLIC "XHTML 1.0 Strict" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl">
<head>
    <base href="http://localhost:3000" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Muziekwinkel</title>
	<meta name="description" content="disclaimer" />
	<meta name="keywords" content="disclaimer" />
</head>
<body>

<h1>Disclaimer</h1>
<ol >
<li>In deze disclaimer wordt verstaan onder:
<ul>
<li>de eigenaar: de eigenaar van de website;</li>
<li>gebruik(en): alle denkbare handelingen;</li>
<li>u: de gebruiker (bezoeker) van de website;</li>
<li>de content: alle in de website aanwezige inhoud;</li>
</ul></li>
<li>Het onderstaande is van toepassing op de pagina die u thans bekijkt. Door de pagina te 
gebruiken stemt u in met deze disclaimer.</li>

<li>De content is door de eigenaar met de grootste zorg samengesteld, doch, de 
eigenaar aanvaardt geen enkele aansprakelijkheid ten aanzien van mogelijke onjuistheden
van het getoonde.</li>
<li>De eigenaar is niet verantwoordelijk voor getoonde content op aan de deze website gekoppelde 
bestanden.</li>
<li>Ongeautoriseerd of oneigenlijk gebruik van de content of delen daarvan maken inbreuk 
op intellectuele rechten.</li>
<li>Toestemmming tot het gebruik van de getoonde content of delen daarvan op andere publiekelijk 
toegankelijke plaatsen dient schriftelijk te worden verzocht. Zonder deze schriftelijke toestemming
kunt u geen content of delen van deze pagina gebruiken.</li>
</ol>
</font>
</body>
</html>
