<table cellpadding="0">

<% for nummer in @album.nummers.sort_by { |n| n.tracknr } %>
  <tr>
    <td><%= h nummer.tracknr %>.&nbsp; </td>
	    <td><%= h nummer.artiest %>&nbsp;-&nbsp;</td>
    <td><%= h nummer.titel %>&nbsp; </td>

  </tr>
<% end %>

</table>