<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <base href="http://localhost:3000" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Muziekwinkel</title>
<%= stylesheet_link_tag :all %>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function()
{
   //hide the all of the element with class msg_body
   $(".right_body").hide();
   //toggle the componenet with class msg_body
   $(".right_head").click(function()
   {
        $(this).next(".right_body").slideToggle(400);
   });
      $(".rightsearch_head").click(function()
   {
        $(this).next(".rightsearch_body").slideToggle(400);
   });
 });
</script>

</head>
<body>
<div class="container"> 
<div class="header"> </div>
<div class="menu">
<div class="leftmenu">
    <ul class="nav">
        <li class="nav1 drop"><a class="main" href="/home"><b>Home</b></a></li>
        
        <li class="nav3 drop"><a class="main down" href="/nummers"><b>Artiesten</b></a>
    <ul>
                <li class="fly"><a class="main" href=" "><b>#-F</b></a>
                    <ul>
                        <li><a href=" "><b>0-9</b></a></li>
                        <li><a href=" "><b>A</b></a></li>
                        <li><a href=" "><b>B</b></a></li>
                        <li><a href=" "><b>C</b></a></li>
                        <li><a href=" "><b>D</b></a></li>
                        <li><a href=" "><b>E</b></a></li>
                        <li><a href=" "><b>F</b></a></li>
                    </ul>
                </li>
                <li class="fly"><a class="main" href=" "><b>G-M</b></a>
                    <ul>
                        <li><a href=" "><b>G</b></a></li>
                        <li><a href=" "><b>H</b></a></li>
                        <li><a href=" "><b>I</b></a></li>
                        <li><a href=" "><b>J</b></a></li>
                        <li><a href=" "><b>K</b></a></li>
                        <li><a href=" "><b>L</b></a></li>
                        <li><a href=" "><b>M</b></a></li>
                    </ul>
                </li>
                <li class="fly"><a class="main" href=" "><b>N-T</b></a>
                    <ul>
                        <li><a href=" "><b>N</b></a></li>
                        <li><a href=" "><b>O</b></a></li>
                        <li><a href=" "><b>P</b></a></li>
                        <li><a href=" "><b>Q</b></a></li>
                        <li><a href=" "><b>R</b></a></li>
                        <li><a href=" "><b>S</b></a></li>
                        <li><a href=" "><b>T</b></a></li>
                    </ul>
                </li>
                <li class="fly"><a class="main" href=" "><b>U-Z</b></a>
                    <ul>
                        <li><a href=" "><b>U</b></a></li>
                        <li><a href=" "><b>V</b></a></li>
                        <li><a href=" "><b>W</b></a></li>
                        <li><a href=" "><b>X</b></a></li>
                        <li><a href=" "><b>Y</b></a></li>
                        <li><a href=" "><b>Z</b></a></li>
                    </ul>
                </li>
          </ul>
        </li>
        <li class="nav3 drop"><a class="main down" href="/albums"><b>Albums</b></a>
            <ul>
                        <li><a href="#url"><b>Nieuwe albums</b></a></li>
						<li><a href="#url"><b>Uitgelicht</b></a></li>
                        <li><a href="#url"><b>Best verkocht</b></a></li>
					    <li><a href="#url"><b>Hoogst gewaardeerd</b></a></li>
            </ul>
        </li>
        <li class="nav3 drop"><a class="main down" href="/nummers"><b>Genres</b></a>
            <ul>                
            <li class="fly"><a class="main" href=" "><b>Overige</b></a>
                <ul>
                        <li><a href="url"><b>Blues</b></a></li>
                        <li><a href="url"><b>Country</b></a></li>               
                        <li><a href=" "><b>Diversen </b></a></li>
                        <li><a href=" "><b>Folk </b></a></li>                 
                        <li><a href=" "><b>Kind &amp; Jeugd </b></a></li>                           
                        <li><a href=" "><b>New Age </b></a></li>               
                        <li><a href=" "><b>Rap &amp; Hip Hop </b></a></li>
                        <li><a href=" "><b>R&amp;B &amp; Soul </b></a></li>
                        <li><a href=" "><b>Reggae </b></a></li>
                        <li><a href=" "><b>Religieus </b></a></li>       
                        <li><a href=" "><b>Soundtracks &amp; Musicals </b></a></li>
                        <li><a href=" "><b>Verzamel-cd's &amp; Boxsets </b></a></li>
                        <li><a href=" "><b>Wereldmuziek</b></a></li>
                </ul>
            </li>
                <li><a href=" "><b>Pop </b></a></li>
                <li><a href=" "><b>Klassiek </b></a></li>
                <li><a href=" "><b>Nederlands </b></a></li>
                <li><a href=" "><b>Rock &amp; Alternative </b></a></li>
                <li><a href=" "><b>Jazz </b></a></li>
                <li><a href=" "><b>Dance </b></a></li>
                
            </ul>
        </li>
        <li class="nav2 drop"><a class="main" href=" "><b>Charts</b></a></li>
        
        <li class="nav5 drop"><a class="main" href="/disclaimer"><b>Disclaimer</b></a></li>
    </ul>
</div>

<div class="login">
<form action="post"><p>
&nbsp;email: <input type="text" name="firstname" class="input"/> wachtwoord: <input type="password" name="lastname" class="input" /></p> <div class="button">
  <input type="submit" value="login"/>
</div></form>
</div>
<div class="searchmenu">
<ul class="nav">
<li class="nav4 drop"><a class="main down" href="/klants"><b>User</b></a>
            <ul>
                <li><a href=" "><b>Winkelmandje</b></a></li>
                <li><a href=" "><b>Aankopen</b></a></li>
                <li><a href=" "><b>Voorkeuren</b></a></li>
            </ul>
        </li>
    </ul>
</div>
</div>

<div class="inhoud"> <!-- alles onder het menu-->
  <div class="inhoud_text_links"> <!-- hier komen de views-->
  <%= yield -%>
</div>

<div class="right_menus"><!-- rechter uitvouw deel, zoek nieuw top-->
<p class="rightsearch_head">Zoeken</p><div class="rightsearch_body">

<form action="/search" method="get">
<table border="0" cellspacing="0" cellpadding="3" style="width:342px">
  <tr>
    <td style="width:47px">artiest:</td>
    <td style="width:283px"><input name="artiest" type="text" class="zoekveld_rechts" size="10" /></td>
  </tr>
  <tr>
    <td>album: </td>
    <td><input name="album" type="text" class="zoekveld_rechts" size="10"/></td>
  </tr>
  <tr>
    <td>song:</td>
    <td><input name="song" type="text" class="zoekveld_rechts" size="10" />
      <input name="zoek" type="submit" value="Zoek" class="zoekveld_submit" /></td>
  </tr>
</table>
</form>
</div>
<p class="right_head">Uitgelichte albums</p>
<div class="right_body">
<table border="0" cellspacing="0" cellpadding="3" style="background-color:#ffffff; width:360px">
  <tr>
    <td rowspan="5" style="background-color:#ffffff; width:100px"><img src="cover.jpg" width="100" height="100" alt="cover" /></td>
    <td style="width:35px">artiest:</td>
    <td style="width:199px">Monolake</td>
  </tr>
  <tr>
    <td>album:</td>
    <td>Hong Kong</td>
  </tr>
  <tr>
    <td>genre:</td>
    <td>Ambient</td>
  </tr>
  <tr>
    <td>prijs:</td>
    <td>12,- euro</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div class="koopknop"> kopen</div> </td>
  </tr>
</table>
<br />
<table border="0" cellspacing="0" cellpadding="3" style="background-color:#ffffff; width:360px">
  <tr>
    <td rowspan="5" style="background-color:#ffffff; width:100px"><img src="front.jpg" width="100" height="100" alt="cover" /></td>
    <td style="width:35px">artiest:</td>
    <td style="width:199px">Systems Officer</td>
  </tr>
  <tr>
    <td>album:</td>
    <td>Underslept</td>
  </tr>
  <tr>
    <td>genre:</td>
    <td>Rock</td>
  </tr>
  <tr>
    <td>prijs:</td>
    <td>goedkoop</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div class="koopknop"> kopen</div> </td>
  </tr>
</table>

</div>
<p class="right_head">Nieuwe albums</p>
<div class="right_body">
<table border="0" cellspacing="0" cellpadding="3" style="background-color:#ffffff; width:360px" >
  <tr>
    <td rowspan="5" style="background-color:#ffffff; width:100px"><img src="cover.jpg" width="100" height="100" alt="cover" /></td>
    <td style="width:35px">artiest:</td>
    <td style="width:199px">Monolake</td>
  </tr>
  <tr>
    <td>album:</td>
    <td>Hong Kong</td>
  </tr>
  <tr>
    <td>genre:</td>
    <td>Ambient</td>
  </tr>
  <tr>
    <td>prijs:</td>
    <td>12,- euro</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div class="koopknop"> kopen</div> </td>
  </tr>
</table>
<br />
<table border="0" cellspacing="0" cellpadding="3" style="background-color:#ffffff; width:360px">
  <tr>
    <td rowspan="5" style="background-color:#ffffff; width:100px"><img src="front.jpg" width="100" height="100" alt="cover" /></td>
    <td style="width:35px">artiest:</td>
    <td style="width:199px">Systems Officer</td>
  </tr>
  <tr>
    <td>album:</td>
    <td>Underslept</td>
  </tr>
  <tr>
    <td>genre:</td>
    <td>Rock</td>
  </tr>
  <tr>
    <td>prijs:</td>
    <td>goedkoop</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div class="koopknop"> kopen</div></td>
  </tr>
</table>

</div>
<p class="right_head">Meest verkocht</p>
<div class="right_body">
<table border="0" cellpadding="3" cellspacing="0" style="background-color:#ffffff; width:360px">
  <tr>
    <td rowspan="5" style="background-color:#ffffff; width:100px"><img src="Dixon Temporary Secretary.jpg" width="100" height="100" alt="cover" /></td>
    <td style="width:35px">artiest:</td>
    <td style="width:199px">Dixon</td>
  </tr>
  <tr>
    <td>album:</td>
    <td>Temporary Secretary</td>
  </tr>
  <tr>
    <td>genre:</td>
    <td>House</td>
  </tr>
  <tr>
    <td>prijs:</td>
    <td>12,- euro</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div class="koopknop"> kopen</div> </td>
  </tr>
</table>
<br />
<table border="0" cellspacing="0" cellpadding="3" style="background-color:#ffffff; width:360px">
  <tr>
    <td rowspan="5" style="background-color:#ffffff; width:100px"><img src="Folder.jpg" width="100" height="100" alt="cover" /></td>
    <td style="width:35px">artiest:</td>
    <td style="width:199px">Len Faki</td>
  </tr>
  <tr>
    <td>album:</td>
    <td>Berghain 03</td>
  </tr>
  <tr>
    <td>genre:</td>
    <td>Techno</td>
  </tr>
  <tr>
    <td>prijs:</td>
    <td>13,- euro</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div class="koopknop"> kopen</div> </td>
  </tr>
</table>
</div>
</div>
<div id="footer"></div>
<div class="bottommp3spacer"></div>
</div>

<div class="bgwhite">

</div>

<div class="mp3player">
	<object
        classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
        codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,22,0"
        id="SimpleMP3_01"
        width="960" height="80">
        <param name="movie" value="SimpleMP3_01.swf">
        <param name="bgcolor" value="#222222">
        <param name="quality" value="high">
        <param name="allowscriptaccess" value="samedomain">
        <embed
		  type="application/x-shockwave-flash"
          pluginspage="http://www.adobe.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"
          name="SimpleMP3_01"
          width="960" height="80"
          src="SimpleMP3_01.swf"
          bgcolor="#222222"
          quality="high"
          allowscriptaccess="samedomain"
        >
          <noembed>
          </noembed>
        </embed>
      </object> </div>
</div>
</body>
</html>
