<!DOCTYPE html PUBLIC "XHTML 1.0 Strict" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl">
<head>
    <base href="http://localhost:3000" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Muziekwinkel</title>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function()
{
  //hide the all of the element with class msg_body
  $(".right_body").hide();
  //toggle the componenet with class msg_body
  $(".right_head").click(function()
  {
    $(this).next(".right_body").slideToggle(400);
  });
});
</script>

<%= stylesheet_link_tag :all %>

    </head>
    <body>
<div class="container"> 
<div class="header"> </div>
<div class="menu">
<div class="leftmenu">
    <ul class="nav">
        <li class="nav1 drop"><a class="main" href="/home"><b>Home</b></a></li>
        
        <li class="nav3 drop"><a class="main down" href="/nummers"><b>Artiesten</b></a>
      <ul>
                <li class="fly"><a class="main" href="#url"><b>#-F</b></a>
                    <ul>
                        <li><a href="#url"><b>0-9</b></a></li>
                        <li><a href="#url"><b>A</b></a></li>
                        <li><a href="#url"><b>B</b></a></li>
                        <li><a href="#url"><b>C</b></a></li>
                        <li><a href="#url"><b>D</b></a></li>
                        <li><a href="#url"><b>E</b></a></li>
                        <li><a href="#url"><b>F</b></a></li>
                    </ul>
                </li>
                <li class="fly"><a class="main" href="#url"><b>G-M</b></a>
                    <ul>
                        <li><a href="#url"><b>G</b></a></li>
                        <li><a href="#url"><b>H</b></a></li>
                        <li><a href="#url"><b>I</b></a></li>
                        <li><a href="#url"><b>J</b></a></li>
                        <li><a href="#url"><b>K</b></a></li>
                        <li><a href="#url"><b>L</b></a></li>
                        <li><a href="#url"><b>M</b></a></li>
                    </ul>
                </li>
                <li class="fly"><a class="main" href="#url"><b>N-T</b></a>
                    <ul>
                        <li><a href="#url"><b>N</b></a></li>
                        <li><a href="#url"><b>O</b></a></li>
                        <li><a href="#url"><b>P</b></a></li>
                        <li><a href="#url"><b>Q</b></a></li>
                        <li><a href="#url"><b>R</b></a></li>
                        <li><a href="#url"><b>S</b></a></li>
                        <li><a href="#url"><b>T</b></a></li>
                    </ul>
                </li>
                <li class="fly"><a class="main" href="#url"><b>U-Z</b></a>
                    <ul>
                        <li><a href="#url"><b>U</b></a></li>
                        <li><a href="#url"><b>V</b></a></li>
                        <li><a href="#url"><b>W</b></a></li>
                        <li><a href="#url"><b>X</b></a></li>
                        <li><a href="#url"><b>Y</b></a></li>
                        <li><a href="#url"><b>Z</b></a></li>
                    </ul>
                </li>
          </ul>
        </li>
        <li class="nav3 drop"><a class="main down" href="/albums"><b>Albums</b></a>
            <ul>
                        <li><a href="#url"><b>Nieuwe albums</b></a></li>
                        <li><a href="#url"><b>Best verkocht</b></a></li>
                        <li><a href="#url"><b>Uitgelicht</b></a></li>

            </ul>
        </li>
        <li class="nav3 drop"><a class="main down" href="/nummers"><b>Genres</b></a>
            <ul>                
            <li class="fly"><a class="main" href="#url"><b>Overige</b></a>
                <ul>
                        <li><a href="#url"><b>Blues</b></a></li>
                        <li><a href="#url"><b>Cabaret & Komedie</b></a></li>
                        <li><a href="#url"><b>Country</b></a></li>
                        
                        <li><a href="#url"><b>Diversen </b></a></li>
                        <li><a href="#url"><b>Folk </b></a></li>
                        
                        <li><a href="#url"><b>Kind & Jeugd </b></a></li>
                        
                        
                        <li><a href="#url"><b>New Age </b></a></li>
                        
                        <li><a href="#url"><b>Rap & Hip Hop </b></a></li>
                        <li><a href="#url"><b>R&B & Soul </b></a></li>
                        <li><a href="#url"><b>Reggae </b></a></li>
                        <li><a href="#url"><b>Religieus </b></a></li>
                        
                        <li><a href="#url"><b>Soundtracks & Musicals </b></a></li>
                        <li><a href="#url"><b>Verzamel-cd's & Boxsets </b></a></li>
                        <li><a href="#url"><b>Wereldmuziek</b></a></li>
                </ul>
            </li>
            <li><a href="#url"><b>Pop </b></a></li>
            <li><a href="#url"><b>Klassiek </b></a></li>
            <li><a href="#url"><b>Nederlands </b></a></li>
            <li><a href="#url"><b>Rock & Alternative </b></a></li>
            <li><a href="#url"><b>Jazz </b></a></li>
            <li><a href="#url"><b>Dance </b></a></li>
                
            </ul>
        </li>
        <li class="nav2 drop"><a class="main" href="#url"><b>Charts</b></a>

        </li>
        
        <li class="nav5 drop"><a class="main" href="#url"><b>Disclaimer</b></a></li>
    </ul>
</div>
<div class="login">
<form>
<label for="email" accesskey="e">&nbsp;email:</label> <input type="text" name="firstname" class="input"/><label for="wachtwoord" accesskey="w"> wachtwoord:</label> <input type="password" name="lastname" class="input"/> <div class="button">
  <input type="submit" value="login">
</div></form>
</div>
<div class="searchmenu">
<ul class="nav">
<li class="nav4 drop"><a class="main down" href="/klants"><b>User</b></a>
            <ul>
                <li><a href="#url"><b>Winkelmandje</b></a></li>
                <li><a href="#url"><b>Aankopen</b></a></li>
                <li><a href="#url"><b>Voorkeuren</b></a></li>
            </ul>
        </li>
    </ul>
</div>
</div>

<div class="inhoud"> <!-- alles onde het menu-->

  <div class="inhoud_text_links"> <!-- hier komen de views-->
  <%= yield -%>
</div>

<div class="right_menus"><!-- rechter uitvouw deel, zoek nieuw top--><p class="right_head">Zoeken</p><div class="right_body">



<form action="" method="get">
<table width="342" border="0" cellspacing="0" cellpadding="3">
  <tr>
    <td width="47">artiest:</td>
    <td width="283"><input name="Artiest" type="text" class="zoekveld_rechts" size="10"></td>
  </tr>
  <tr>
    <td>album: </td>
    <td><input name="Album" type="text" class="zoekveld_rechts" size="10"></td>
  </tr>
  <tr>
    <td>song:</td>
    <td><input name="Song" type="text" class="zoekveld_rechts" size="10">
      <input name="zoek" type="submit" value="Zoek" class="zoekveld_submit"></td>
  </tr>
</table>
</form>
</div>
<p class="right_head">Uitgelichte albums</p>
<div class="right_body">
<table width="360" border="0" cellspacing="0" cellpadding="3" bgcolor="#FFFFFF" >
  <tr>
    <td width="100" rowspan="5" bgcolor="#FFFFFF"><img src="cover.jpg" width="100" height="100"></td>
    <td width="35">artiest:</td>
    <td width="199">Monolake</td>
  </tr>
  <tr>
    <td>album:</td>
    <td>Hong Kong</td>
  </tr>
  <tr>
    <td>genre:</td>
    <td>Ambient</td>
  </tr>
  <tr>
    <td>prijs:</td>
    <td>12,- euro</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div class="koopknop"> kopen</div> </td>
  </tr>
</table>
<br />
<table width="360" border="0" cellspacing="0" cellpadding="3" bgcolor="#ffffff">
  <tr>
    <td width="100" rowspan="5" bgcolor="#FFFFFF"><img src="front.jpg" width="100" height="100"></td>
    <td width="35">artiest:</td>
    <td width="199">Systems Officer</td>
  </tr>
  <tr>
    <td>album:</td>
    <td>Underslept</td>
  </tr>
  <tr>
    <td>genre:</td>
    <td>Rock</td>
  </tr>
  <tr>
    <td>prijs:</td>
    <td>goedkoop</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div class="koopknop"> kopen</div> </td>
  </tr>
</table>

</div>
<p class="right_head">Nieuwe albums</p>
<div class="right_body">
<table width="360" border="0" cellspacing="0" cellpadding="3" bgcolor="#FFFFFF" >
  <tr>
    <td width="100" rowspan="5" bgcolor="#FFFFFF"><img src="cover.jpg" width="100" height="100"></td>
    <td width="35">artiest:</td>
    <td width="199">Monolake</td>
  </tr>
  <tr>
    <td>album:</td>
    <td>Hong Kong</td>
  </tr>
  <tr>
    <td>genre:</td>
    <td>Ambient</td>
  </tr>
  <tr>
    <td>prijs:</td>
    <td>12,- euro</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div class="koopknop"> kopen</div> </td>
  </tr>
</table>
<br />
<table width="360" border="0" cellspacing="0" cellpadding="3" bgcolor="#ffffff">
  <tr>
    <td width="100" rowspan="5" bgcolor="#FFFFFF"><img src="front.jpg" width="100" height="100"></td>
    <td width="35">artiest:</td>
    <td width="199">Systems Officer</td>
  </tr>
  <tr>
    <td>album:</td>
    <td>Underslept</td>
  </tr>
  <tr>
    <td>genre:</td>
    <td>Rock</td>
  </tr>
  <tr>
    <td>prijs:</td>
    <td>goedkoop</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div class="koopknop"> kopen</div> </td>
  </tr>
</table>

</div>
<p class="right_head">Meest verkocht</p>
<div class="right_body">
<table width="360" border="0" cellspacing="0" cellpadding="3" bgcolor="#FFFFFF" >
  <tr>
    <td width="100" rowspan="5" bgcolor="#FFFFFF"><img src="Dixon temporary Secretary.jpg" width="100" height="100"></td>
    <td width="35">artiest:</td>
    <td width="199">Dixon</td>
  </tr>
  <tr>
    <td>album:</td>
    <td>Temmporary Secretary</td>
  </tr>
  <tr>
    <td>genre:</td>
    <td>House</td>
  </tr>
  <tr>
    <td>prijs:</td>
    <td>12,- euro</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div class="koopknop"> kopen</div> </td>
  </tr>
</table>
<br>
<table width="360" border="0" cellspacing="0" cellpadding="3" bgcolor="#ffffff">
  <tr>
    <td width="100" rowspan="5" bgcolor="#FFFFFF"><img src="Folder.jpg" width="100" height="100"></td>
    <td width="35">artiest:</td>
    <td width="199">Len Faki</td>
  </tr>
  <tr>
    <td>album:</td>
    <td>Berghain 03</td>
  </tr>
  <tr>
    <td>genre:</td>
    <td>Techno</td>
  </tr>
  <tr>
    <td>prijs:</td>
    <td>13,- euro</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><div class="koopknop"> kopen</div> </td>
  </tr>
</table>
</div>
</div>
<div id="footer"></div>
<div class="bottommp3spacer"></div>
</div>

<div class="bgwhite">

</div>

<div class="mp3player">MP3</div>
</div>


</body>
</html>
